<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>565979681409-dt2q5kt04rcmhscsoq2gmr8ta280le4a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.565979681409-dt2q5kt04rcmhscsoq2gmr8ta280le4a</string>
	<key>API_KEY</key>
	<string>AIzaSyBqar3DgrfaBA-CIyyz8uv8YKfCRbI5S54</string>
	<key>GCM_SENDER_ID</key>
	<string>565979681409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jyyang.timertest</string>
	<key>PROJECT_ID</key>
	<string>beta-c6afa</string>
	<key>STORAGE_BUCKET</key>
	<string>beta-c6afa.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565979681409:ios:23099fc06729b5150cf380</string>
	<key>DATABASE_URL</key>
	<string>https://beta-c6afa-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>